<div class="overlay animated fadeInLeft">
    <div class="ui-panel login-panel animated bounceInDown form-panel">
      <div class="header d-flex justify-content-between align-items-center">
        <h1 class="h3 mb-3 fw-normal">
          <span class="highlight">Crear</span>
          <span class="highlight1">Cuenta</span>
        </h1>
        <button class="btn btn-outline btn-close" (click)="cancelLogin()"></button>
      </div>
  
      <form #f="ngForm" 
      class="login100-form validate-form flex-sb flex-w">
  
        <span *ngIf="f.controls['email'] && f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn"> El correo es obligatorio</span>
  
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                   type="email" 
                   name="email" 
                   [(ngModel)]="usuario.email"
                   required
                   email 
                   placeholder="Email"
            >

            <span class="focus-input100"></span>
        </div>
  
        <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn"> El nombre es obligatorio</span>
  
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                   type="text" 
                   name="nombre" 
                   [(ngModel)]="usuario.nombre"
                   minlength="2"
                   required
                   placeholder="Nombre">

            <span class="focus-input100"></span>
        </div>

        <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn"> El password es obligatorio</span>
  
        <div class="wrap-input100 m-b-16">
            <input class="input100"
                   type="password" 
                   name="password" 
                   [(ngModel)]="usuario.password"
                   minlength="6"
                   required
                   autocomplete="current-password"
                   placeholder="Password">
            <span class="focus-input100"></span>
        </div>
  
        <div>
            <a routerLink="/login" class="txt1" style="text-decoration: none; text-decoration: none; color: blue;">
                ¿Ya tienes cuenta? / Ingresar
            </a>
        </div>
          
        <div class="container-login100-form-btn m-t-17">
          <button (click)="Register(f)" class="btn w-100 btn-lg btn-outline-black" type="submit">Crear cuenta</button>
        </div>
  
      </form>
    </div>
  </div>
  