<div class="row">
  <div class="col-lg shadow border m-1" style="background-color: #fff !important;">
    <div class="text-center mx-auto">
      <h2 style="color: black;">About Me</h2>
      <img src="assets/img/mifoto.jpg" alt="mi foto" width="256" height="256" class="rounded-circle">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus facere consectetur quas, blanditiis rem itaque quaerat repudiandae pariatur praesentium eius, dolorem magnam minus eaque, magni sequi dolorum mollitia eum nisi. Debitis excepturi porro animi, ad dignissimos, alias maiores nesciunt minima sapiente corrupti, recusandae corporis! Veniam, ex placeat id exercitationem cupiditate ipsam magnam dolor, facilis quia quas quod. Dolores, repudiandae nihil.</p>
    </div>
  </div>
</div>
